.card-image{
    z-index: -1;
  position: absolute;
  margin-left: 20px;
  margin-right: 0px;
  width: 95%;
}

.card-body{
    background-color: rgb(0, 0, 39);
    color: white;
    padding: 18px;
    z-index: 1;
    box-shadow: 12px 16px 32px rgba(0, 0, 0, 0.25);

    padding: 2em;
    width: 600px;
}
.card{
    height: fit-content;
    display: flex;
    align-items: center;

    position: static;
    height: calc(100vh - 20px);
}

#projects-area{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sec{
    display: flex;
}

.s-card, .s-image{
    width: calc(100%/2);
}


.s-body{
    position: relative;
    top: 100px;
    width: 400px;
}

.project-header{
    padding: 2em;
    display: flex;
    justify-content: space-around;
}

.project-header > *{
    padding: 1em;
}



@media screen and (max-width: 768px){
    .s-card{
        height: fit-content;
    display: flex;
    align-items: center;

    height: calc(100vh - 20px) !important;
    }
    
    .s-image{
        z-index: -1;
  position: absolute;
    margin-left: 20px;
    margin-right: 0px;
    width: 95%;
    }
    
    
    .s-body{

        padding: 2em;
        position: relative;
        top: 100px;
        width: 400px !important;
    }
    
    .sec{
        display: flex;
        flex-direction: column;
    }

}