*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
}

#welcome-section{
    width: 100%;
    height: 100vh;
    
    background-color: rgba(2,0,36,1);
    /*background: linear-gradient(180deg, rgba(2,0,36,1) 15%, rgba(34,111,163,1) 60%, rgba(255,255,255,1) 100%);
    */
    background-color: rgba(2,0,36,1);
    display: flex;
    align-items: center;
    justify-content: center;


    color: white;
}

#title{
    grid-area: t;
    font-size: 2em;
    font-weight: bold;
    word-wrap: break-word;

    align-self: flex-end;
}

.elements{
    padding: 0px 0em 0px 3em;
    display: grid;
    grid-template-areas: "t i"
                        "d i";
}

#projects{
    padding: 4em 0em 4em 0em;
    min-height: 100vh;
}

.subtitle{
    text-align: center;
    font-size: 2.8rem;
}
.desc{
    grid-area: d;

}


#navbar{
    background-color: rgba(2,0,36,1);
    color: white;
    font-weight: bold;
    font-size: 0.8em;

    z-index: 2;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;

    
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 80px;

    padding: 0px 2em 0px 2em;
}

#nav-ul{
    list-style: none;
    padding-left: 1em;
}

#nav-ul li{
    display: inline-block;

}

#nav-ul li a{
    text-decoration: none;
    color: white;
    padding: 0.4em 0.8em;
    transition: all 0.3s linear;
    
}

#nav-ul li a:hover{
    border-bottom: 4px solid white;
}

.navbar-enlace{
    display: flex;
    align-items: center;
}

.toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0px 20px;
    line-height: 60px;

    display: none;

}

.toggle:hover{
    cursor: pointer;
}

#logo{
    color: white;
    text-decoration: none;
    font-weight: 1000;
}

#enlace-descargar{
    text-decoration: none;
    color: white;
    background-color: rgb(34,111,163);
    padding: 0.4em 0.8em;

    width: max-content;
    
}

.navbar-descargar{
    padding-right: 40px;
    width: max-content;

}

#img-perfil{
    grid-area: i;
    width: 60%;
    min-width: 300px;
    max-width: 1200px;

    display: inline-flex;
    align-self: center;
    justify-self: center;
}



#section-contact{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;


    background-color: rgba(2,0,36,1);
    color: white;

    height: 100vh;
}

#links{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 3rem;
}

#links a{
    text-decoration: none;
    display: block;
    padding: 0.4rem 0.6rem;
    color: white !important;
    transition: all 0.2s linear;
}

#links a:hover{
    font-size: 1.1em;
}

#links a:visited {
    color: white;
}

.nav-ul-visible{
    left: 0 !important;
}



.div-background{
    width: 100%;
    background-color: rgb(34,111,163);
}
.div-background img{
    width: 100%;
}

#contact{
    height: 100vh;
    min-height: 450px;
    padding: 4em 0px 4em 0px;
    background-color: rgb(34,111,163);

    display: flex;
    align-items: center;
    justify-content: center;
}

#form-contact{
    color: white;
    background-color: rgba(2,0,36,1);
    padding: 1em;
    width: 550px;

    display: flex;
    flex-direction: column;

}

#form-contact > *{
    margin: 4px;
}

#testimonios{
    background-color: rgba(2,0,36,1);
    
    padding: 4em 2em 4em 2em;
    min-height: 100vh;

    color: white;
}

#testimonios-area{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.testimonio{
    width: 30%;
    padding: 8px;
    align-self: flex-start;
}

.header-testimonio > *{
    display: inline-block;
    word-wrap: break-word;
    color: rgb(147, 184, 252);
}

#desc-test{
    padding: 16px;
    margin: 16px;
}



#servicios{
    background-color: rgb(34,111,163);
    
    padding: 4em 2em 4em 2em;
    min-height: 100vh;

    color: black;
}

#servicios-area{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.servicio{
    width: 30%;
    padding: 8px;
    align-self: flex-start;
}

.servicio > *{
    margin: 16px 0;
}

.services-link{
    font-size: 16px;
    font-weight: 1000;
    text-decoration: none;
    text-align: center;

    color: rgb(62, 156, 173);

    background-color: rgba(2,0,36,1);
    padding: 12px 8px;
}

@media screen and (max-width: 768px){

    #navbar{
        font-size: 0.8em;
    }
    .elements{
        display: grid;
        grid-template-areas:"i" 
                        "t"
                        "d";
        padding: 5em 2em 2em 2em;
        width: 80%;
    }
    #welcome-section{
         
        height: calc(100% - 60px);;
    }
    #img-perfil{
        max-width: 600px;
    }
    #title{
        font-size: 1.2em;
    }

    #navbar{
        height: 60px;
    }
    #nav{
        line-height: 60px;
    }

    #nav-ul{
        display: flex;
        flex-direction: column;
        margin: 0px;
        background-color: rgba(2,0,36,1);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;

        align-items: center;
        color: black;

        padding: 0;
        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    #enlace-descargar span{
        display: none;
    }

    .toggle{
        display: block;
    }

    #testimonios-area{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
    
    .testimonio{
        width: 100%;
    }

    #servicios-area{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .servicio{
        width: 100%;
    }
}

@media screen and (min-width: 1280px){
    #navbar, #welcome-section, #section-contact{
        font-size: 1.4rem;
    }

}